.body{  
    font-family:Sans-serif, Arial;     
    padding:0;
    margin:0;
    background-color:#fff;
    font-size:16px;
  }
  
  /* ===========================
      General Styles 
  ============================ */
  
  .content{
    width:84%;
    margin:auto;
    display:flex;
    flex-direction:column;
    padding-top:40px;       
    padding-bottom:50px;
  }
  
  .content__title{
    text-transform:capitalize;
    font:bold 32px 'Lora', serif; 
    font-style:italic;
    color:#333;
    text-align:left;
    margin-top:0;
    margin-bottom:0;
    width:100%;
  }
  
  .hr{
    width:60px;
    height:2px;
    background-color:#f6052a;
    border:0;
    margin-bottom:50px; 
    margin-left:0;
  }
  
  /* ===========================
      Navigation
  ============================ */
  
  .container-1{
    padding:0 102px;
    min-height:100vh;
  }
  
  .container-1:after{
    content:'Fresh!';
    position:absolute;
    top:559px;
    bottom:0;
    right:0;
    font-size:13vw;   
    z-index:-2;
    font-weight:700;
    color:#000;
    opacity:0.07;
  }
  
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 0;
  }
  
  #check{
    display:none;
  }
  
  .check-btn{
    position:absolute;
    height:40px;
    width:24px;
    right:40px;
    top:80px;
    margin-top:-64px;
    display:none;
  }
   
  .check-item{
    position:relative;
    border-radius:3px;
    background-color:#f8982b;
    margin-top:8px;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    height:3.5px;
    width:24px;
    background:#f6052a;
  }
   
  .navbar__brand{
    font-weight:700;
    text-transform:uppercase;
    text-decoration:none;
    font-size:30px;
  }
  
  .navbar__brand-link{
    color:#f6052a; 
    text-decoration:none;
  }
  
  .nav-wrapper{
    position:relative;
    display:flex;
  }
  
  .nav-wrapper__item{
    list-style:none;
    margin:0;
  }
  
  .nav-wrapper__link{
    position:relative;
    text-decoration:none;
    font-size:18px;
    font-weight:400;
    padding:4px 15px;
    color:#333;
    text-decoration:none;
    margin:0 20px;
  }
  
  .nav-wrapper__link:hover{
    color:#f6052a;   
  }
  
  /* ===========================
      Masthead 
  ============================ */
  
  .masthead{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:0px;
    /* background-color: black; */
  }
  
  .masthead-text{
    position:relative;
    max-width:500px;
    margin-right:10px;
  }
  
  .masthead__title{
    font-size:54px;
    text-transform:uppercase;
    font-weight:800;
    line-height:65px;
    color:#333;
  }
  
  .masthead__title-color{
    color:#f6052a; 
  }
  
  .masthead__paragraph{
    font-size:18px;
    color:#333;
    line-height:32px;
    margin:20px 0;
  }
  
  .masthead__link{
    display:inline-block;
    color:#333;
    cursor:pointer;
    position:relative;
    transition:all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    border:2px solid #f6052a;
  }
  
  .masthead__link:hover{
    text-shadow:nthree;
  }
  
  .masthead__link:hover:before{
    left:0%;
    right:auto;
    width:100%;
  }
  
  .masthead__link:before{
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:0px;
    z-index:-1;
    content:'';
    background:#f6052a; 
    transition:all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .masthead__link:link{
    position:relative;
    text-transform:uppercase;
    font-weight:700;
    color:#333;
    letter-spacing:1px;
    font-size:18px;
    text-decoration:none;
    padding:15px;
    text-align:center;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
  }
  
  .masthead__link:visited{
    position:relative;
    text-transform:uppercase;
    font-weight:700;
    color:#333;
    letter-spacing:1px;
    font-size:18px;
    text-decoration:none;
    padding:15px;
    text-align:center;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
  }
  
  .masthead__link:visited:after{
    content:"";
    position:absolute;
    height:0%;
    left:50%;
    top:50%;
    width:150%;
    z-index:-1;
    -webkit-transition:all 0.75s ease 0s;
    -moz-transition:all 0.75s ease 0s; 
    -o-transition:all 0.75s ease 0s;
    transition:all 0.75s ease 0s;
  }
  
  .masthead__link:visited:after{
    content:"";
    position:absolute;
    height:0%;
    left:50%;
    top:50%;
    width:150%;
    z-index:-1;
    -webkit-transition:all 0.75s ease 0s;
    -moz-transition:all 0.75s ease 0s; 
    -o-transition:all 0.75s ease 0s;
    transition:all 0.75s ease 0s;
  }
  
  .masthead__link:link:hover{
    color:#fff;
    text-shadow:none;
  }
  
  .masthead__link:visited:hover{
    color:#fff;
    text-shadow:none;
  }
  
  .masthead-img-1a{
    position:relative;
    width:600px;
    height:600px;
    filter:drop-shadow(0 10px 6px #020202); 
  }
  
  .container__img-1a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
  .masthead-img-1b{
    filter:drop-shadow(0 10px 6px #020202); 
    width:430px;
    height:430px;
    margin:0 auto;
    margin-bottom:0px;
    margin-top:25px;
    text-align:center;
    display:none;
  }
   
   .container__img-1b{
     width:100%;
     height:100%;
  }
  
  /* ===========================
      About
  ============================ */
  
  .container-2{
    width:84%; 
    margin:auto;
    display:flex;
    overflow:hidden;
    align-items:center;
    padding:0;
    /* background-color: black; */
  }
  
  .col-left-1{
    float:left;
    width:50%;
    margin-left:0;
    height:435px;
  }
  
  .about__title{
    margin-bottom:15px;
    color:#333;
    font-weight:700; 
    font:bold 25px 'Lora', serif;
    margin-top:0px;
  }
  
  .about__paragraph{
    width:100%;
    margin-top:32px;
    font:Sans-serif, Arial;     
    font-style:italic;
    font-size:18px;
    color:#333;
    line-height:28px;
    margin-bottom:0px;
  }
   
  .col-right-1{
    color:#000;      
    width:50%;             
    padding:0;
    text-align:right;
    height:435px;
    margin-top:20px;
  }
  .container__img-2{
    width:430px;
    height:430px;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-right:3px;
  }
  
   
  
  /* ===========================
      Menu
  ============================ */
  
  .col-menu-1{
    color:#000;      
    width:100%;             
    padding:0;
    margin-top:20px;
    text-align:center;
    height:400px;
    
  }
  
  .container__img-3{  
    width:346px;
    height:346px;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-right:3px;
    transition:1s;
    -webkit-transition:0.5s;
    cursor:pointer;
    flex:1 1 auto;
  }
  
  .container__img-3:hover{
    transform:scale(1.05);
    box-shadow:0 25px 25px -20px  rgba(0,0,0,0.3);
  }
  
  .masthead__btn--menu{
    margin-top:20px;
    display:block;
    text-align:center;
  }
  
  /* ===========================
      Contact
  ============================ */
  
  .newsletter{
    padding-bottom:100px;
  }
  
  .subscribe{
    position:relative;
    height:500px;
    overflow:hidden;
    box-shadow:0px 0px 30px 20px rgba(0, 0, 0, 0.12);
    width:84%; 
    margin:auto;
    overflow:hidden;
    margin-top:20px;
    
  }
  
  .subscribe__h3{
    margin:50px 0;
    width:365.5px;
    text-align:center;
    font-weight:normal;
    color:#ff6b81;
  }
  
  .about__title--subscribe{
    color:#95a3b3;  
    margin-top:100px;
    margin-bottom:125px;
    width:365.5px;
    text-align:center;
    font-weight:500;
    font-style:italic;
  }
  
  .form{
    width:365.5px;
  }
  
  .content-input{
    border:none;
    padding:10px 40px;
  }
  
  .form__input{
    display:inline-block;
    height:50px;
    line-height:50px;
    border:none;  
    outline:none;
    color:#2f3542;
    font-size:20px;
    width:100%;
    border-bottom:1px solid #a4b0be;
    font:500 20px 'Lora', serif; 
    font-style:italic;
  }
  
  .newsletter__img{
    position:absolute;
    top:0;
    right:0;
    height:500px;
    width:711px;
  }
  
  /* ===========================
      Social
  ============================ */
  
  .icons-social{
    padding:5px;
  }
  
  .list-social{
    text-align:center;
    padding:0;
  }
  
  .icons-social__item{
    display:inline-block;
  }
  
  .icons-social__item:active{
    transform:scale(1.1);
  }
  
  .icons-social__link{
    font-size:23px;
    color:#444442;
    padding:10px;
  }
  
  .icons-social__link:hover{
    color:#f4363b;
  }
  
  /* ===========================
      Footer
  ============================ */
  
  .footer{
    padding:40px;
    color:#444442;
    text-align:center;
    background:#0b0b0b;
    margin:0;
  }
  
  .container-footer__link{
    color:#444442;
    text-decoration:none;
  }
  
  .container-footer__link:hover{
    color:#f4363b;
  }
  
  /* ===========================
      Media Queries
  ============================ */
  
  @media (max-width: 1000px){
    .container-1{
      width:100%;
      padding:0;
      display:block;
      min-height:0;
    }
  
    .container-1:after{
      display:none;
    }
  
    .navbar{
      width:100%;
      display:block;
      height:16px;
      background:#161616;
    }
   
    .check-btn{
      display:block;
    }
   
    #check:checked + .check-btn .check-top{
      -webkit-transform:rotate(-45deg);
      transform:rotate(-45deg);
      margin-top:20px;
    }
    #check:checked + .check-btn  .check-bottom{
      opacity:0;
      -webkit-transform:rotate(45deg);
      transform:rotate(45deg);
    }
    #check:checked + .check-btn .check-meat{
     -webkit-transform:rotate(45deg);
     transform:rotate(45deg);
     margin-top:-3.5px;
    }
  
    #check:checked ~ .nav-wrapper{
      left:0;
    }
   
    .navbar__brand{
      padding:0 30px;
      margin-left:5px;
      line-height:16px;
    }
   
    .nav-wrapper{
      position:absolute;
      width:100%;
      background:#0b0b0b;
      left:-100%;
      text-align:center;
      transition:all .5s;
      top:60px;
      height:60vh;
      padding:0;
      display:block;
      z-index:2;
    }
   
    .nav-wrapper__item{
      margin:30px 0;
      line-height:30px;
    }
   
    .nav-wrapper__link{
      color:#595959;
    }
  
    .masthead{
      width:100%;
      margin-top:80px;
      text-align:center;
    }
   
    .masthead-text{
      max-width:100%;
      margin:0 65px;
      text-align:center;
    }
   
    .masthead__title{
      display:inline-block;
      max-width:65%;
    }
   
    .masthead__paragraph{
      margin-bottom:30px;
    }
   
    .masthead-img-1a{
      display:none;
    }
   
    .masthead-img-1b{
      display:block;
    }
   
    .content{
      padding-top:20px;       
      padding-bottom:25px;
    }
   
    .container-2{
      display:block;
    }
  
    .col-left-1{
      float:none;
      width:100%;
      height:260px;
    }
   
    .col-right-1{
      width:100%;             
      text-align:center;
    }
   
    .col-menu-1{
      display:block;
      height:100%;
      margin-top:0px;
    }
   
    .container__img-3{
      width:430px;
      height:430px;
      margin-right:0px;
      margin-top:13px;
      margin-bottom:33px;
    }
   
    .masthead__btn--menu{
      margin-top:50px;
    }
  
    .subscribe{
      height:100%;
    }
   
    .subscribe__h3{
      width:100%;
    }
   
    .about__title--subscribe{
      font-size:32px;
    }
   
    .form{
      width:100%;
    }
   
    .content-input{
      margin-bottom:50px;
    }
   
    .newsletter__img{
      position:relative;
      width:100%;
      height:457px;
      margin-top:50px;
      margin-bottom:-4px;
    }
  }
  
  @media (max-width: 700px){
    .newsletter__img{
      width:565px;
      height:397px;
    }
  }
  
  @media (max-width: 450px){
    .navbar{
      height:9px;
    }
   
    .check-btn{
      right:20px;
      top:63px;
      margin-top:-50px;
    }
   
    .navbar__brand{
      font-size:25px;
      padding:0 15px;
      margin-left:2.5px;
      line-height:9px;
    }
   
    .nav-wrapper{
      height:26vh;
      top:53px;
    }
  
    .nav-wrapper__item{
      margin:15px 0;
      line-height:15px;
    }
   
    .masthead{
      margin-top:35px;
    }
   
    .masthead__title{
      max-width:100%;
      margin-bottom:30px;
    }
   
    .masthead__paragraph{
      margin-top:0;
    }
  
    .masthead-img-1b{
      width:300px;
      height:300px;
      margin-top:20px;
    }
   
    .container__img-1b{
      width:100%;
      height:100%;
    }
  
    .content{
      padding-top:10px;       
      padding-bottom:12.5px;
    }
  
    .content__title{
      font-size:26px;
      margin-top:35px;
    }
  
    .hr{
      width:48px;
      margin-bottom:50px; 
    }
  
    .col-left-1{
      height:100%;
    }
  
    .about__title{
      font-size:20px;
      margin-bottom:10px;
    }
  
    .col-right-1{
      height:300px;
      width:300px;
    }
   
    .container__img-2{
      width:297px;;
      height:297px;
      margin:0 auto;
    }
   
    .container__img-3{
      width:287px;
      height:287px;
      margin-top:8px;
      margin-bottom:28px;
    }
   
    .masthead__btn--menu{
      margin-top:24px;
    }
   
    .subscribe__h3{
      margin:20px 0;
    }
  
    .about__title--subscribe{  
      margin:45px 0;
    }
  
    .content-input{
      margin-bottom:20px;
    }
  
    .form__input{
      height:37px;
      line-height:37px;
      font-size:16px;
    }
  
    .newsletter__img{
      width:100%;
      height:211px;
      margin-top:20px;
    }
   
    .footer{
      padding:32px;
    }
    
    .container-footer{
      font-size:15px;
    }
  }
  
  @media (max-height: 450px){
    .nav-wrapper{
      height:100vh;
    }
    
    .nav-wrapper__item{
      margin:15px 0;
      line-height:15px;
    }
  }